/* styles.css */

/* General Body Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

/* Navigation Styling */
nav {
  background-color: #0A6CC0;
  overflow: hidden;
  text-align: center;
  padding: 14px 0;
}

nav a {
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

/* Header Styling */
.header {
  text-align: center;
  padding: 10px 0;
  font-size: xx-large;
  
  margin: 20px 0;
}

/* Car Name Styling */
.car-name {
  text-align: center;
  font-size: 1.2em;
  margin: 15px 0;
}

/* Car Image Styling */
.car-image {
  text-align: center;
}

.car-image img {
  border: 2px solid #ddd;
  padding: 5px;
  transition: transform 0.2s;
}

.car-image img:hover {
  transform: scale(1.1);
}
